<div class="center" style="text-align:center">
    <h3>Add Comment</h3>
    <form>
        <div class="text-danger">{{vm.error}}</div>
        <div>
            <label for="form-rating">rate :
                <!-- <input type="text" ng-model="vm.form.rating"> -->

                <select ng-model="vm.form.rating">
                    <option value="1">1-star</option>
                    <option value="2">2-star</option>
                    <option value="3">3-star</option>
                    <option value="4">4-star</option>
                    <option value="5">5-star</option>
                </select>
        </div>
        <div>
            <label for="form-review">review :
                <input id="form-review" type="text" ng-model="vm.form.review">
            </label>
        </div>
        <button type="submit" class="btn btn-success" ng-click="vm.onSubmit()">Send</button>
        <button class="btn btn-success" ng-click="vm.onCancel() ">Cancel</button>
    </form>
</div>