<div class="container">
    <div class="row" style="padding-bottom:30px">
        <form action="#" class="navbar-search pull-right">
            <span>Find your place : </span>
            <input type="text" placeholder="Search &hellip;" class="search-query" ng-model="search.name">
        </form>
    </div>
    <div class="row">
        <div class="span3">
            <div class="well">
                <i>
                    <div>Wanna a best Wifi-signal ?</div>
                    <div>Loc8r Is The Best Solution </div>
                    <div>Just A Simple Click</div>
                    <div>And Let Me Do My Job</div>
                    <div>Have Fun !!!</div>
                </i>
            </div>
        </div>
        <div class="span9">
            <div ng-if="vm.locations == 'loading......'">
                <div>{{vm.locations}}</div>
            </div>
            <div ng-if="vm.locations != 'loading......'">
                <ul class="thumbnails">
                    <div ng-repeat="l in vm.locations | filter:search:strict">
                        <li class="span3">
                            <div class="thumbnail">
                                <location-info loc="l"></location-info>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>